
PACReceipts.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
PACReceipts.xcodeproj/xcuserdata/anish.xcuserdatad/xcschemes/xcschememanagement.plist
Pods/Pods.xcodeproj/xcuserdata/anish.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
